
// Custom variables overriding bootstrap


@wrapper-padding: 20px;
@wrapper-bgcolor-light-blue: fade(#d4e8e4,80);
@wrapper-bgcolor-pink: #f6917f;
@wrapper-bgcolor-blue: #dfecea;

@text-color-light: fade(#fff, 80%);
@text-color-lighter: fade(#fff, 90%);

@text-color-dark: fade(#000, 30%);
@text-color-darker: fade(#000, 40%);

@btn-primary-bg:                 fade(#fff,0%);
@btn-primary-border:             fade(#fff, 0%);

@floating-view-margin: 50px;
@floating-view-width: 300px;
@floating-view-shadow-color: fade(#666666,10%);

@portfolio-view-bg-color: #fff;
@portfolio-title-padding: 20px;
@portfolio-title-size: 16px;

@about-view-bg-color: @wrapper-bgcolor-light-blue;

@default-font-weight: 300;
