
// Custom variables overriding bootstrap


@wrapper-padding: 20px;
@wrapper-bgcolor-light-blue: fade(#d4e8e4,80);
@wrapper-bgcolor-pink: #f6917f;
@wrapper-bgcolor-blue: #dfecea;

@text-color-light: fade(#fff, 70%);
@text-color-lighter: fade(#fff, 90%);

@text-color-dark: fade(#000, 30%);
@text-color-darker: fade(#000, 40%);
@text-color-darkest: #258a7a;

@text-color-alert: #cf1a13;

@btn-primary-bg:                 fade(#fff,0%);
@btn-primary-border:             fade(#fff, 0%);

@floating-view-margin: 50px;
@floating-view-width: 300px;
@floating-view-height: 314px;
@floating-view-image-height: 263px;
@floating-view-shadow-color: fade(#666666,10%);

@portfolio-view-bg-color: #fff;
@portfolio-title-padding: 20px;
@portfolio-title-size: 16px;
@portfolio-title-height: @floating-view-height - @floating-view-image-height;

@about-view-bg-color: @wrapper-bgcolor-light-blue; //#fff;
@about-view-shadow-color: fade(#000, 10%);
@about-view-width: @floating-view-width*1.5;

@font-size-medium: 20px;
@font-size-large: 30px;
@font-size-very-large: 60px;
@font-weight-default: 400;
@font-weight-bold: 500;
@font-weight-bolder: 600;
@font-weight-extra-bold: 900;

@modal-item-image-width: 360px;
