@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

//Custom
@import "custom_variables";

.main-container {
  font-size: @font-size-base;
  &-mobile {
    font-size: @font-size-mobile;
    a {
      font-size: @font-size-mobile;
    }

  }
}

p {
  font-weight: @font-weight-default;
}
a {
  color: @text-color-light;
  font-weight: @font-weight-default;

  &:hover {
    text-decoration: none;
    color: @text-color-lighter;
  }

}

.content-wrapper {
  padding: @wrapper-padding;

  &.portfolio {
    background-color: @wrapper-bgcolor-light-blue;
    //background: url('../img/portfolio_bg.svg');
  }

  &.about {
    background-color: @wrapper-bgcolor-pink;
    //background: url('../img/about_bg.svg');
  }

}

.nav-bar {
  position: fixed;
  top: @wrapper-padding;
  left: @wrapper-padding;

  &-mobile {
    text-align: center;
    background-color: @wrapper-bgcolor-light-blue;
    position: relative;
    padding: @wrapper-padding;
  }
  &-item-mobile {
    display: inline-block;
  }
}

.floating-view {
  width: @floating-view-width;
  height: @floating-view-height;
  margin-bottom: @floating-view-margin;
  display: inline-block;
  box-shadow: 3px 3px 10px @floating-view-shadow-color;
}

.portfolio-view {
  &:extend(.floating-view);
  position: relative;
  background-color: @portfolio-view-bg-color;

  &.mobile {
    height: @floating-view-height-mobile;
  }

  &-title {
    text-align: center;
    width: @floating-view-width;
    height: @portfolio-title-height;
    font-weight: @font-weight-default;
    font-size: @portfolio-title-size;
    color: @text-color-dark; 
    display:table-cell;
    vertical-align:middle;
    &.mobile {
      font-size: @portfolio-title-size-mobile;
      height: @portfolio-title-height-mobile;
    }
  }

  &-image {
    position: absolute;
    left: 0;
    top: 0;
  }

  &-image-overlay {
    opacity: 0;
    position: absolute;
    padding-top: @floating-view-height/2 - 30;
    width: @floating-view-width;
    height: @floating-view-height; 
    left: 0;
    top: 0;
    color: @text-color-darkest;
    font-size: 60px;
    transition: opacity 0.3s;

    &.mobile {
      height: @floating-view-height-mobile;
    }

    &:hover {
      opacity: 1;
      background-color: @text-color-light;
    }
  }
}

.about {
  color: @text-color-lighter;
  p {
    font-weight: @font-weight-default;
  }

  &-text {
    text-align: justify;
    column-count: 2;
    column-gap: @wrapper-padding*2;
    clear: both;
  }

  &-footer {
    padding-top: @wrapper-padding;
    text-align: center;
  }

  &-image {
    border-radius: 50%;
  }

  &-title {
    font-weight: @font-weight-default;
    font-size: @font-size-very-large;
    color: @text-color-lighter;
  }

  &-view {
    display: inline-block;
    text-align: left;
  }
}

.modal {
  -webkit-overflow-scrolling: auto;
  color: @text-color-darkest;


  &-content {
    padding: @wrapper-padding;
    background-color: #fff;
  }

  &-text {
    background-color: #fff;
    text-align: justify;
    column-count: 2;
  }

  &-footer {
    text-align: center;
  }

  h1 {
    font-size: @font-size-large;
  }

  p {
    padding-bottom: @wrapper-padding*1.5;
  }
  a {
    color: @text-color-dark;
    &:hover {
      color: @text-color-darkest;
    }
  }

};

// Overwriting bootstrap classes
.btn-primary {
    font-size:@font-size-medium;
  &.mobile {
    font-size:@font-size-large;
  }
  color: @text-color-darker;
  &:hover {
    color: @text-color-dark;
  }
  &:active {
    color: @text-color-dark;
  }
  &:active:hover {
    color: @text-color-dark;
  }
}

.thumbnail {
  border: none;
}

